@model ResultOfferViewModel
<div style="max-width: 800px; margin: 50px auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="font-size: 24px; margin-bottom: 20px; font-weight:bold; color: #0e6fbe;">Teklif Detayları</h1>
    <div style="display: flex;">
        <div style="flex: 1;">
            <img src="~/img/@Model.Post.ImageUrl" alt="Product Image" style="max-width: 100%; height: auto; border-radius: 5px;">
        </div>
        <div style="flex: 1; padding-left: 20px;">
            <p style="font-size: 18px; font-weight: bold; margin-bottom: 10px; color: #4CAF50;">@Model.Post.Title</p>
            <p style="font-size: 18px; font-weight: bold; margin-bottom: 10px; color: #4CAF50;">Kategori : @Model.Post.Category</p>
            <p style="font-size: 16px; color: #555;">@Model.Post.Description</p>
            <p style="font-size: 18px; font-weight: bold; margin-top: 20px; color: #4CAF50;">Fiyat: @Model.Post.Price ₺</p>
            <strong style="font-size: 18px; font-weight: bold; margin-top: 20px; color: #bd552c;">Teklif Edilen Tutar: @Model.Price ₺</strong>
            <p style="font-size: 18px; font-weight: bold; margin-top: 20px; color: #4CAF50;">Teklif Veren: @Model.User.userName </p>
            <p style="font-size: 18px; font-weight: bold; margin-top: 20px; color: #4CAF50;">Meslek: @Model.User.job</p>
            <p style="font-size: 18px; font-weight: bold; margin-top: 20px; color: #1e4fb9;">İletişim Numarası: @Model.User.phoneNumber</p>
        </div>
    </div>
</div>