@model List<ResultUserViewModel>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Meslek</th>
            <th>Email</th>
            <th>Telefon Numarası</th>
            <th>Onay</th>
            <th>#</th>
            <th>#</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           
                string textColor = item.isApproved ? "success" : "danger";
            
           
            <tr>
                <td>@item.id</td>
                <td>@item.userName</td>
                <td>@item.job</td>
                <td>@item.email</td>
                <td>@item.phoneNumber</td>
                <td class="text-@textColor"><b>@(item.isApproved ? "Onaylandı" : "Onaylanmamış")</b></td>
                <td><a class="btn btn-danger" href="/Admin/User/Delete/@item.id">Sil</a></td>
                <td><a class="btn btn-info" href="/Admin/User/AddUserToAdminRole/@item.id">Admin Yap</a></td>
                
            </tr>
            
        }
    </tbody>
</table>