@model ResultPostViewModel
<div class="container mt-5">
    <div class="card">
        <div class="author-info" style="display: flex; align-items: center; padding: 10px; background-color:navajowhite">
            <div class="author-avatar" style="margin-right: 10px;">
            </div>
            <div class="author-details" style="flex-grow: 1;">
                <h5 class="author-name" style="margin: 0; font-size: 1.2rem;">@Model.User.userName</h5>
            </div>
        </div>
       <h2 class="text-primary ml-2 mt-2">@Model.Title</h2>
        <img src="~/img/@Model.ImageUrl" class="card-img-top ml-2" style="height:300px;width:400px;">
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
            @if (User.Identity.IsAuthenticated)
            {
                
            <div class="row">

                <div class="col-md-1">
                    
            <button id="btn_like" class="btn btn-primary">Like</button>
                </div>
                    @if(User.Identity.Name.ToLower() != Model.User.userName)
                    {
                        
                <div class="col-5">
                    <form action="/Admin/Offer/CreateOffer" method="post">
                        <input type="hidden" value="@Model.Id"/>
            <input type="number" name="Price" min="0">
            <button type="submit" class="btn btn-success">Teklif Yap</button>
                    </form>
                </div>
                    }
            </div>
            
            }
            <h6 class="text-primary mt-2">Kategori: <b class="text-primary">@Model.Category</b></h6>

            <b class="text-success">Fiyat: @Model.Price.ToString("N") ₺</b>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
              
        <span class="badge badge-primary badge-pill" id="span_like">@Model.Likes.Count() Beğeni</span>

            </li>
        </ul>
        
        <div class="card-footer">
            <!-- Input field for writing comments -->
            @if (User.Identity.IsAuthenticated)
            {
                
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="input_comment" placeholder="Bir yorum paylaş..."  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" id="btn_comment" type="button" >Gönder</button>
            </div>
            }
            <!-- List of comments -->
            <div class="comments">
                <!-- Example comments -->
                    <ul id="ul_comments">
                @foreach(var item in Model.Comments){
                        <li>
                        <div class="comment"><b>@item.User.userName</b> :@item.Message</div>
                        </li>
                }
                    </ul>
                <!-- Add more comments here -->
            </div>
    </div>
</div>
<script>
    $('#btn_like').on('click', function () {
        $.ajax({
            url: "@Url.Action("AddLikeToPost", "Post")/@Model.Id",
            dataType: 'json',
            type: 'GET',
            success: function (response) {
                $("#span_like").html(`${response} Beğeni`);
            },
            error: function (err) {
                console.log(err);
            }

        });
    });
    $("#btn_comment").on('click', function () {
        var comment = $("#input_comment").val();
        $.ajax({
            url: '@Url.Action("CreateComment","Post")',
            dataType: 'json',
            type: 'POST',
            data: {
                Message:`${comment}`,
                CreateComment:Date.now(),
                UserId:'1',
                PostId:'@Model.Id'
            },
            success: function (response) {
                    $(`#ul_comments`).append(`<li><div class="comment"><b>${response.userName}</b>: ${response.message}</div></li>`);
                $('#input_comment').val('');
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>