@model List<ResultPostViewModel>
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <header style="background-color: #3b83b3; color: #fff; padding: 20px;">
                <div class="user-profile" style="display: flex; align-items: center; justify-content: center;">
                   
                    <div>
                        <p style="margin: 0; font-size: 24px;"><strong>@Model[0].User.userName</strong></p>
                        <p style="font-size: 18px; color: #fff; margin: 0;">İş: @Model[0].User.job</p>
                        <p style="font-size: 18px; color: #fff; margin: 0;">Telefon Numarası: @Model[0].User.phoneNumber</p>
                    </div>
                </div>
            </header>
        </div>
        <div class="col-1"></div>
    </div>
</div>

@foreach (var item in Model)
{
    
<main style="padding: 20px;">

    <section class="product" style="margin-bottom: 20px;">
        <div class="product-box" style="border: 1px solid #ccc; border-radius: 5px; padding: 20px; display: flex;">
            <div class="product-image">
                <img src="~/img/@item.ImageUrl" alt="LuxoTech Akıllı Telefon X7" style="max-width: 200px; height: auto; margin-right: 20px;">
            </div>
            <div class="product-info" style="flex-grow: 1;">
                <h2 style="font-size: 24px;">@item.Title</h2>
                <p class="description">
                    @item.Description
                </p>
                <p class="price" style="font-weight: bold; color: #FF5722; font-size: 20px;">Fiyat: @item.Price ₺</p>
                    @if(User.Identity.IsAuthenticated && item.User.userName != User.Identity.Name)
                    {
                        
                    <div class="input-container" style="margin-top: 20px;">
                        <form action="/Admin/Offer/CreateOffer" method="post">

                        <input type="hidden" name="PostId" value="@item.Id"/>
                        <input type="number"  name="Price"  style="width: 100px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
                        <button type="submit" style="background-color: #4CAF50; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; margin-left: 10px;">Teklif Yap</button>
                        </form>
                    </div>
                    }
                <div class="user" style="color: #777; display: flex; align-items: center;">
                    <div>
                        <p style="margin: 0; font-size: 18px;"><strong>@item.User.userName</strong></p>
                        <p style="font-size: 16px; color: #999; margin: 0;">İş: @item.User.job</p>
                       
                        <p style="font-size: 16px; color: #999; margin: 0;">@item.CreatedDate</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
 </main>
}